*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


body{

background:#f5f7fb;

display:flex;

justify-content:center;

padding:40px;

}



.ticket-container{

background:white;

width:400px;

border-radius:20px;

overflow:hidden;

box-shadow:
0 10px 30px rgba(0,0,0,.15);

}





.ticket-header{

background:#0066ff;

color:white;

padding:30px;

text-align:center;

}


.ticket-header i{

font-size:45px;

margin-bottom:10px;

}



.ticket-header h1{

font-size:35px;

}




.ticket-body{

padding:30px;

text-align:center;

}



.ticket-body h2{

color:#0066ff;

margin-bottom:25px;

}





.ticket-info{

text-align:left;

}



.ticket-info p{

padding:12px 0;

border-bottom:1px dashed #ddd;

}





.paid{

background:#28a745;

color:white;

padding:5px 15px;

border-radius:20px;

}




#qrcode{

margin:25px auto;

width:max-content;

}



.note{

color:#666;

margin-bottom:20px;

}




button{

width:100%;

padding:15px;

background:#0066ff;

color:white;

border:none;

border-radius:30px;

cursor:pointer;

font-size:16px;

margin-bottom:15px;

}



button:hover{

background:#004bcc;

}



.ticket-body a{

display:block;

text-decoration:none;

color:#0066ff;

font-weight:bold;

}





@media(max-width:450px){

.ticket-container{

width:100%;

}

body{

padding:20px;

}

}